form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "label label"
    "input button";
}

label {
  grid-area: label;
}

input[type="text"] {
  grid-area: input;
}

input[type="submit"] {
  grid-area: button;
}

input {
  height: 2.5rem;
}
