form {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-rows: auto;
  grid-template-areas:
    "label none"
    "input button";
}

label {
  grid-area: label;
  color: hsla(0, 0%, 0%, 0.9);
}

input[type="text"] {
  grid-area: input;
  border: 1px solid hsla(0, 0%, 0%, 0.9);
}

input::placeholder {
  font-style: italic;
}

input[type="submit"] {
  grid-area: button;
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 0%, 0.9);
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
}

input[type="submit"]:hover {
  background-color: hsla(0, 0%, 0%, 0.75);
}

input {
  height: 2rem;
}
