form {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "label none"
    "input button";
}

label {
  grid-area: label;
}

input[type="text"] {
  grid-area: input;
}

input::placeholder {
  font-style: italic;
}

input[type="submit"] {
  grid-area: button;
  margin-left: 0.5rem;
}

input {
  height: 2.5rem;
}
